# List out files and directories that you don't want to load to git
*.ipynb
*.csv
*.png
*.pdf
*.pyc
*.log
*.xlsx
*.rds
*.txt
*.code-workspace
*.vscode/
*.DS_Store
*.Rhistory
*.ipynb_checkpoints/
*/results
*/configs/iwrd
*.tex
*.html
*.o
